# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Compiled kernel files for faster tests
*.dill
.ai_coding_tool/db.sqlite
.ai_coding_tool/db.sqlite-shm
.ai_coding_tool/db.sqlite-wal
bin/*-mcp
