# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Compiled kernel files for faster tests
*.dill
bin/*-mcp

shortcuts.md
bin/*
agentic-personas/*.zip
agentic-plugins/*.zip
